body{font-family:"Times New Roman", Times, serif;}
.div1{font-family:"Roboto", sans-serif;
  width:10%;
  margin-left:  5%;
float:left;
}
.div2{font-family:"Times New Roman", Times, serif;
  width:45%;
  margin-left:  20%;
  margin-right: 40%;
  position: absolute;
}
.div3{font-family:"Times New Roman", Times, serif;
  width:15%;
  margin-left:  70%;
  border:2px solid gray;
  height:auto;
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  position: absolute;
}
  .div4{font-family:"Times New Roman", Times, serif;
  width:25%;
  margin:  0;
  border:2px solid gray;
  padding:10px;
}
p{margin:10px;
}
table {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
}

th{
border: 1px solid black;
  text-align: center;
  padding: 8px;
}
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
